/* style for calculator form */
section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: flex-start;
  top: 20px;
  left: 20px;
}

/* output field with current calculated values */
.output {
  width: 100%;
  min-height: 42px;
  background: black;
  color: aquamarine;
  font-size: 40px;
  text-align: end;
  padding-top: 80px;
}

/* every row that contains button */
.calc-row {
  display: flex;
  justify-content: space-between;
}

/* button inside a row */
.calc-row button {
  flex: 1;
}

/* general button style overwriting */
button {
  background: black;
  border: 1px solid greenyellow;
  color: greenyellow;
  padding: 12px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

/* button mouse hover style */
button:hover {
  background: hotpink;
  color: aqua;
}

/* button mouse pressed style */
button:active {
  background: blueviolet;
  color: coral;
}